# Recherche des titres de livres de la base de données Base_finale_regressions.csv

In [1]:
#On importe la bibliothèque pandas
import pandas as pd
import matplotlib.pyplot as plt

def livre_dans_sous_titres(livre,youtube):
    #On charge les tables dont on a besoin"
    books_data = pd.read_csv(f"{livre}.csv", encoding="utf-8")
    youtube_data = pd.read_csv(f"{youtube}.csv", encoding="utf-8")
    print("Livres de la base de données "f'{livre}.csv'" dans les sous-titres de vidéos youtube de la base de données "f'{youtube}.csv')
    # On convertie la colonne 'Subtitles'et 'Titre' en type string
    youtube_data['Subtitles'] = youtube_data['Subtitles'].astype(str)
    books_data['Titre'] = books_data['Titre'].astype(str)
    # On convertie les sous-titres en miniscule pour correspondre au traitement des titres dans Base_finale.csv
    youtube_data['Subtitles'] = youtube_data['Subtitles'].str.lower()
    # On initialise une nouvelle liste pour stocker les résultats
    result = []
    # On itére sur chaque liste de la colonne 'Titre' de books_data
    for index1, row1 in books_data.iterrows():
        count_list = []  # Liste pour stocker les résultats de cette ligne
        # On itére sur chaque liste de la colonne 'Subtitles' de youtube_data
        for index2, row2 in youtube_data.iterrows():
            # On vérifie si la liste de books_data (row1['Titre']) est une sous-liste de la liste de youtube_data (row2['Subtitles'])
            if row1['Titre'] in row2['Subtitles']:
                count_list.append(1)  # Si elle est incluse, compter une occurrence
            else:
                count_list.append(0)  # Sinon, aucune occurrence
        # On ajoute la liste des Titres, des Auteurs de books_data et la somme des occurrences
        result.append([row1['Titre'], row1['Auteur'], sum(count_list)])
    # On crée la nouvelle DataFrame contenant les résultats
    colonnes=['Titres','Auteurs','Occurrences dans les sous-titres de vidéos']
    result_df = pd.DataFrame(result, columns = colonnes )
    # On filtre les lignes où 'Occurrences dans les sous-titres des vidéos' est différente de 0 (On ne s'intéresse qu'aux livres cités au moins une fois)
    filtered_df = result_df[result_df['Occurrences dans les sous-titres de vidéos'] != 0]
    # On affiche le DataFrame filtré
    return filtered_df

## 1 Recherche dans la base de données ss_youtube_livre_2019_2023.csv

In [ ]:
livre_dans_sous_titres('Base_finale_regressions','ss_youtube_livre_2019_2023')

Livres de la base de données Base_finale_regressions.csv dans les sous-titres de vidéos youtube de la base de données ss_youtube_livre_2019_2023.csv

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Titres</th>
      <th>Auteurs</th>
      <th>Occurrences dans les sous-titres de vidéos</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <td>1794</td>
      <td>Niklas Natt och Dag</td>
      <td>39</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1991</td>
      <td>Franck Thilliez</td>
      <td>38</td>
    </tr>
    <tr>
      <th>12</th>
      <td>555</td>
      <td>Hélène Gestern</td>
      <td>86</td>
    </tr>
    <tr>
      <th>15</th>
      <td>666</td>
      <td>Jérémy Wulc</td>
      <td>80</td>
    </tr>
    <tr>
      <th>25</th>
      <td>abondance</td>
      <td>Jakob Guanzon</td>
      <td>25</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>2535</th>
      <td>à pas de loup</td>
      <td>Isabelle Villain</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2537</th>
      <td>à tout jamais</td>
      <td>Colleen Hoover</td>
      <td>12</td>
    </tr>
    <tr>
      <th>2539</th>
      <td>à vif</td>
      <td>René Manzor</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2547</th>
      <td>éden</td>
      <td>Monica Sabolo</td>
      <td>49</td>
    </tr>
    <tr>
      <th>2550</th>
      <td>être un homme</td>
      <td>Nicole Krauss</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
<p>295 rows × 3 columns</p>
</div>

**295 livres apparaissent dans les sous-titres des vidéos youtube.**

## 2 Recherche dans la base de données ss_youtube_nouveauté_livre_2023.csv

In [ ]:
livre_dans_sous_titres('Base_finale_regressions','ss_youtube_nouveauté_livre_2023')

Livres de la base de données Base_finale_regressions.csv dans les sous-titres de vidéos youtube de la base de données ss_youtube_nouveauté_livre_2023.csv

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Titres</th>
      <th>Auteurs</th>
      <th>Occurrences dans les sous-titres de vidéos</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <td>1794</td>
      <td>Niklas Natt och Dag</td>
      <td>26</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1991</td>
      <td>Franck Thilliez</td>
      <td>25</td>
    </tr>
    <tr>
      <th>12</th>
      <td>555</td>
      <td>Hélène Gestern</td>
      <td>127</td>
    </tr>
    <tr>
      <th>14</th>
      <td>60 minutes</td>
      <td>M. J. Arlidge</td>
      <td>2</td>
    </tr>
    <tr>
      <th>15</th>
      <td>666</td>
      <td>Jérémy Wulc</td>
      <td>108</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>2526</th>
      <td>à la ligne</td>
      <td>Joseph Ponthus</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2529</th>
      <td>à la racine du mal</td>
      <td>Ann Granger</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2537</th>
      <td>à tout jamais</td>
      <td>Colleen Hoover</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2547</th>
      <td>éden</td>
      <td>Monica Sabolo</td>
      <td>60</td>
    </tr>
    <tr>
      <th>2550</th>
      <td>être un homme</td>
      <td>Nicole Krauss</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
<p>281 rows × 3 columns</p>
</div>

**281 livres apparaissent dans les sous-titres des vidéos youtube.**